@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    margin: 0;
}

address {
    font-style: normal;
}

.container {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Muli', sans-serif;
}

h3 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 20px;
}

h4 {
    font-size: 25px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 20px;
}

.bloc-text h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.row h3 {
    padding-top: 10px;
    font-size: 18px;
    margin-bottom: 0;
}


.container .column-left {
    width: 25%;
    background-color: rgb(255, 205, 0);
    color: gray;
    padding-top: 1em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.bloc-loisir {
    margin-top: auto;
}

.container .column-right{
    width: 60%;
}


header .container .column-right .bloc-nom h1 {
    font-size: 35px;
    text-align: left;
}

header .container .column-right .bloc-nom p {
    font-size: 18px;
    text-align: left
}


.container .column-left .bloc-img .fas {
    font-size: 6em;
    border: 3px solid black;
    border-radius: 50%;
}


.container .column-left .bloc-img  {
    text-align: center;
}

.container .column-left h2 {
    background-color: rgb(64, 64,64);
    text-transform: uppercase;
    color: rgb(255, 205, 0);
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.container .column-left .bloc-contact .bloc-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.container .column-left .bloc-contact .bloc-info a {
    text-decoration: none;
    color: gray
}

.container .column-left .bloc-contact .bloc-info .bloc {
    width: 70%;
}

.container .column-left .bloc-moi .bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4em;
}


.container .column-left .bloc-moi p {
    width: 85%;
    text-align: justify;
    margin: auto;
}



.container .column-left h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .column-left .bloc-loisir .bloc-logo {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    padding-top: 40px;
    padding-bottom: 10px;
}


.container .column-left .bloc-loisir .bloc-logo .fas {
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 10px;
    padding: 10px;
    font-size: 2em;
}

.container .column-right .bloc-nom p {
    font-size: 20px;
    margin-top: -25px;
}

.container .column-right .bloc-nom h1 {
    text-transform: uppercase;
    font-size: 40px;
}

.container .column-right .bloc-nom h1 span {
    color: rgb(255, 205, 0);
}

.container .column-right .bloc-nom .soulignement {
    border-bottom: 2px solid rgb(255, 205, 0);
}

.container .column-right .bloc-parcour .formation {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(255, 205, 0);
}
.container .column-right .bloc-parcour .formation h2 {
    margin-left: 20px;
}

.container .column-right .bloc-parcour .fas {
    display: flex;
    align-items: center;
    color: rgb(255, 205, 0);
    font-size: 2em;
}

.container .column-right .bloc-parcour .bloc__formation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}


.container .column-right .bloc-parcour .bloc__formation .fa {
    color: rgb(255, 205, 0);
    font-size: 8px;
    padding-right: 15px;
    margin-top: 23px;
}

.container .column-right .bloc-parcour .bloc__formation .far {
    color: rgb(255, 205, 0);
    font-size: 15px;
    padding-right: 15px;
    margin-top: 18px;
}

.container .column-right .bloc-parcour .bloc__formation .circle {
    display: flex;
}

.container .column-right .bloc-parcour .bloc__formation .text-left {
   width: 81%;
}

.container .column-right .bloc-parcour .bloc-text {
    display: flex;
    flex-direction: column;
    width: 60%;
}


.container .column-right .bloc-parcour .bloc-text p {
    margin: 0;
}

.container .column-right .bloc-parcour .bloc-text .mt {
    margin-top: 10px;
}


.container .column-right .bloc__parcour-2 {
    height: 37%;
}

.container .column-right .bloc-parcour .experience__professionnelle-center {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container .column-right .bloc__parcour-3 .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .column-left .bloc-contact .bloc-info .mt {
    display: block;
}

/**
responsive 
*/

@media screen and (max-width: 830px) {

    .container .column-right .bloc-parcour .bloc__formation ul  {
        width: 60%;
    }

    .container .column-right .bloc-parcour .bloc__formation ul  {
        width: 60%;
    }

    .container .column-right .bloc-parcour .bloc__formation ul li {
        width: 60%;
    }

    header .container .column-right .bloc-nom h1 {
        font-size: 35px;
        text-align: center !important;
    }

    header .container .column-right .bloc-nom p {
        font-size: 18px;
        text-align: center;
    }

    .header .column-left {
        background-color: white;
    }

    .container .column-left .bloc-loisir .bloc-logo .fas {
    margin-left: 5px;
    padding: 5px;
    font-size: 1.5em;
    }   
    .container {
        display: flex;
        align-items: center
    }

    .container .column-right{
        width: 70%;
    }

    .container {
        display: flex;
        flex-direction: column-reverse;
    }

    .container .column-left {
        width: 100%;
        text-align: center;
        margin-top: 5%;
    }
}


@media screen and (max-width: 660px) {

    .container .column-left .bloc-contact .bloc-info {
        align-items: flex-start;
    }

    .container .column-left .bloc-contact .bloc-info {
        text-align: center;
        align-items: center;
    }

}

@media screen and (max-width: 440px) {

    .container .column-right .bloc-parcour .bloc__formation ul li {
        width: 100%;
    }

    .container .column-right .bloc-parcour .bloc__formation{
        flex-direction: column;
    }

    .container .column-right .bloc-parcour .bloc-text {
        width: 85%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .container .column-right .bloc__parcour-3 .row {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
    }
}